opencv-python
facenet-pytorch
--index-url https://download.pytorch.org/whl/cu113 # CUDA 11.3
torch
--index-url https://download.pytorch.org/whl/cu113 # CUDA 11.3
torchvision
--index-url https://download.pytorch.org/whl/cu113 # CUDA 11.3
torchaudio